@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Poppins:ital,wght@1,500&display=swap');
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration:none;
    color:black;
}
/*Header*/
header{
    background-color:#0080D1;
    padding-bottom:10px;
    margin-bottom:10px;
}
.header-logo img{
    width:200px;
    display:block;
    margin:auto;
}
.header-nav a{
    color:black;
    margin:5px;
    font-family: 'Hind Madurai', sans-serif;
    font-size:20px;
    padding:0 5px 0 5px;
    border-radius:10px;
    background-color:#018ce2;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 6px;
}
/*Footer*/
footer{
    background-color:#0080D1;
    padding-bottom:10px;
    margin-top:50px;
}
.footer-logo img{
    width:200px;
    display:block;
    margin:auto;
}
.footer-nav a{
    color:black;
    margin:5px;
    font-family: 'Hind Madurai', sans-serif;
    font-size:20px;
    padding:0 5px 0 5px;
    border-radius:10px;
    background-color:#018ce2;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 6px;
}
/*Main*/

/*Carrousel*/
.carousel{
    margin-bottom:30px;
}

/*Cards*/
.btn{
    width:100%;
}
.card{
    margin-top:20px;
}
.card-title{
    text-overflow: ellipsis;
}
.card-text{
    color:#0080D1;
    font-size:25px;
    font-family: 'Poppins', sans-serif !important;
}
.card-body{
    padding:0;
}
.card-body h5, .card-body p{
    padding: 10px 10px 0 10px;
}